<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>填写您的信息</title>
    <meta th:include="/common/libs :: common_head"/>
</head>
<body data-weui-theme="light">

<div style="margin: 10px;width: 90%">


    <div class="page" >
        <div class="weui-form__control-area">


            <div class="weui-cells__group weui-cells__group_form">
                <input type="text" hidden disabled="true" th:value="${session.user.openid}" name="openid" id="openid">
                <input type="text" hidden disabled="true" th:value="${session.recommenderId}" name="recommenderId" id="recommenderId">

                <div class="weui-cells weui-cells_form">
                    <div class="weui-cell weui-cell_active">
                        <div class="weui-cell__hd"><label class="weui-label">名称<span class="requiredStyle">*</span></label></div>
                        <div class="weui-cell__bd">
                            <input id="name" class="weui-input" placeholder="填写名称"/>
                        </div>
                    </div>
                    <div class="weui-cell weui-cell_active">
                        <div class="weui-cell__hd"><label class="weui-label">联系手机<span class="requiredStyle">*</span></label></div>
                        <div class="weui-cell__bd">
                            <input id="contactPhone" class="weui-input" placeholder="填写联系方式" type="number"
                                   pattern="[0-9]*"/>
                        </div>
                    </div>


                    <div class="weui-cell weui-cell_active">
                        <div class="weui-cell__hd"><label class="weui-label">性别<span class="requiredStyle">*</span></label></div>
                        <div class="weui-cells_radio" style="display:flex">
                            <label class="my-web-cell weui-cell_active weui-check__label" for="x11">
                                男
                                <input type="radio" class="weui-check" name="gender" value="MALE" id="x11"
                                       checked="checked"/>
                                <span class="weui-icon-checked"></span>
                                </span>
                            </label>
                            <label class="my-web-cell weui-cell_active weui-check__label" style="margin-left: 20px" for="x12">
                                女
                                <input type="radio" name="gender" class="weui-check" value="FEMALE" id="x12"/>
                                <span class="weui-icon-checked"></span>
                                </span>
                            </label>
                        </div>
                    </div>


                </div>
            </div>
            <div class="page__bd" style="margin-top: 50px">
                <div class="button-sp-area">
                    <a href="javascript:" class="weui-btn weui-btn_primary" id="submitBtn">提交信息</a>
                </div>
            </div>

        </div>


        <div id="js_toast" style="display: none;">
            <div class="weui-mask_transparent"></div>
            <div class="weui-toast">
                <i class="weui-icon-success-no-circle weui-icon_toast"></i>
                <p class="weui-toast__content">提交信息完毕</p>
            </div>
        </div>

        <div id="warnToast" style="display: none;">
            <div class="weui-mask_transparent"></div>
            <div class="weui-toast">
                <i class="weui-icon-warn weui-icon_toast"></i>
                <p class="weui-toast__content"  id="warn_toast_text">数据校验失败</p>
            </div>
        </div>


        <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>


        <!--    <script>-->
        <!--        $(function () {-->
        <!--            var $input = $('#name');-->
        <!--            var $cell = $('#name');-->
        <!--            var $submitBtn = $('#submitBtn');-->
        <!--            $submitBtn.on('click', function () {-->
        <!--                var $value = $input.val();-->
        <!--                if ($cell.hasClass('weui-cell_warn')) {-->
        <!--                    $cell.removeClass('weui-cell_warn');-->
        <!--                }-->
        <!--                if ($value&&$value.length<10) {-->
        <!--                    $cell.addClass('weui-cell_warn');-->
        <!--                }-->
        <!--            });-->

        <!--        });-->
        <!--    </script>-->

        <script>
            $().ready(()=>{
                $('#name').val("");
                $('#contactPhone').val("");
            });
        </script>




        <script>
            let $toast = $('#js_toast');
            let $warnToast = $('#warnToast');


            function dataValid(targetData) {
                const regexPhone = /^(13[0-9]|14[01456879]|15[0-35-9]|16[2567]|17[0-8]|18[0-9]|19[0-35-9])\d{8}$/;
                //在这里做数据校验
                if (!targetData.name||targetData.name=='') {
                    $('#warn_toast_text').text("请输入名称")
                    $warnToast.fadeIn(100);
                    setTimeout(()=>{
                        $warnToast.fadeOut(1000);
                    },2000)
                    return false;
                }
                if (!regexPhone.test(targetData.contactPhone)) {
                    $('#warn_toast_text').text("手机号输入有误")
                    $warnToast.fadeIn(100);
                    setTimeout(()=>{
                        $warnToast.fadeOut(1000);
                    },2000)
                    return false;
                }
                return true;
            }


            function getFormData(){
                let name = $('#name').val();
                let openid = $('#openid').val();
                let recommenderId = $('#recommenderId').val();
                let contactPhone = $('#contactPhone').val();
                let gender = $("input[name='gender']:checked").val();

                let targetData = {
                    name,
                    openid,
                    recommenderId,
                    contactPhone,
                    gender,
                    other: ""
                }
                return targetData;
            }


            $(function () {

                // let $name = $('#name');
                // $name.on('input', function () {
                //     if ($name.val()) {
                //         $('#submitBtn').removeClass('weui-btn_disabled');
                //     } else {
                //         $('#submitBtn').addClass('weui-btn_disabled');
                //     }
                // });
                $('#submitBtn').on('click', function () {



                    // if(!$name.val()){
                    //     $('#submitBtn').addClass('weui-btn_disabled');
                    // }
                    if ($(this).hasClass('weui-btn_disabled')) return;
                    // toptips的fixed, 如果有`animation`, `position: fixed`不生效
                    $('.page.cell').removeClass('slideIn');

                    let formData = getFormData();
                    if (!dataValid(formData)) {
                        console.log("数据校验不通过")
                        return false;
                    }else{
                        $.ajax({
                            headers: {
                                Accept: "application/json;charset=utf-8"
                            },
                            contentType: "application/json;charset=utf-8",
                            url: "/api/user",
                            data: JSON.stringify(formData),
                            type: "POST",
                            success: function (data) {
                                console.log(data)
                                if (data.success) {
                                    $toast.fadeIn(100);
                                    setTimeout(() => {
                                        window.location.href = "/finish";
                                    }, 2000)
                                } else {
                                    $warnToast.fadeIn(100);
                                }
                            },
                            error: function (e) {
                                $warnToast.fadeIn(100);
                                console.log(e.responseJSON)
                            },
                            complete:function (e){
                                console.log(e)
                                setTimeout(function () {
                                    $toast.fadeOut(1000);
                                    $warnToast.fadeOut(1000);
                                }, 2000);
                                return;
                            }
                        });
                    }

                });

            });
        </script>


<!--        <script>-->

<!--            const regexPhone = /^(13[0-9]|14[01456879]|15[0-35-9]|16[2567]|17[0-8]|18[0-9]|19[0-35-9])\d{8}$/;-->

<!--            layui.use(['layer', 'form'], function () {-->
<!--                var form = layui.form;-->
<!--                var layer = layui.layer;-->


<!--                //监听提交-->
<!--                form.on('submit(formDemo)', function (data) {-->
<!--                    let targetData = {-->
<!--                        name: data.field.name,-->
<!--                        openid: data.field.openid,-->
<!--                        recommenderId: data.field.recommenderId,-->
<!--                        contactPhone: data.field.contactPhone,-->
<!--                        gender: data.field.gender,-->
<!--                        other: data.field.other-->
<!--                    }-->

<!--                    //在这里做数据校验-->
<!--                    if (!regexPhone.test(targetData.contactPhone)) {-->
<!--                        layer.msg("手机号码格式有误,请确认", {icon: 2});-->
<!--                        return false;-->
<!--                    }-->

<!--                    let loading = layer.load(1, {-->
<!--                        shade: 0.3,-->
<!--                        fixed: true-->
<!--                    });-->

<!--                    $.ajax({-->
<!--                        headers: {-->
<!--                            Accept: "application/json;charset=utf-8"-->
<!--                        },-->
<!--                        contentType: "application/json;charset=utf-8",-->
<!--                        url: "/api/user",-->
<!--                        data: JSON.stringify(targetData),-->
<!--                        type: "POST",-->
<!--                        success: function (data) {-->
<!--                            console.log(data)-->
<!--                            if (data.success) {-->
<!--                                layer.msg("添加成功！");-->
<!--                                setTimeout(() => {-->
<!--                                    window.location.href = "/finish";-->
<!--                                }, 1000)-->
<!--                            } else {-->
<!--                                layer.msg("添加失败，请刷新！");-->
<!--                            }-->

<!--                        },-->
<!--                        error: function (e) {-->
<!--                            console.log(e.responseJSON)-->
<!--                            layer.msg(e.responseJSON.message);-->
<!--                        },-->
<!--                        complete: function (e) {-->
<!--                            console.log(e)-->
<!--                            layer.close(loading);-->
<!--                            return;-->
<!--                        }-->
<!--                    });-->

<!--                    return false;-->
<!--                });-->
<!--            });-->


<!--        </script>-->
    </div>
    </div>
</body>
</html>
